.form-table td.criticalcsstable {
  padding: 0;
}

.abtfr-criticalcss .meta-sep,
.abtfr-criticalcss .submitdelete,
.abtfr-criticalcss .submitcancel {
  display: block;
  float: left;
  margin: 6px 0;
  line-height: 15px;
}

.abtfr-criticalcss .howto span {
  float: left;
  margin-top: 6px;
}

.abtfr-criticalcss .postbox p.submit {
  margin-bottom: 0;
}

.abtfr-criticalcss .submitbox .submitcancel {
  border-bottom: 1px solid #0073aa;
  padding: 1px 2px;
  color: #0073aa;
  text-decoration: none;
}

.abtfr-criticalcss .submitbox .submitcancel:hover {
  background: #0073aa;
  color: #ffffff;
}

@media screen and (max-width: 782px) {
  .abtfr-criticalcss .customlinkdiv .howto input {
    width: 65%;
  }

  .abtfr-criticalcss .quick-search {
    width: 85%;
  }

  .abtfr-criticalcss .menu-name-label.howto span {
    margin-top: 13px;
  }
}

.criticalcss-buttons {
  margin-top: 10px;
}

.criticalcss-buttons a.button {
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}

.criticalcss-buttons a.button:first-of-type {
  margin-inline-start: 0;
}
