.form-table fieldset {
    border: 1px solid #efefef;
    padding: 5px;
    padding-top:0px;
    display:inline;
    position:relative;
    top:-4px;
}

.form-table fieldset legend {
    padding: 0px;
    padding-left:7px;
    font-weight: bold;
}